.btn {
  outline: 0;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    outline: 0;
  }

  &:disabled {
    opacity: 0.65;
  }
}

.button {
  font-weight: 600;
  font-size: 13px;
  line-height: 40px;
  height: 40px;
  border-radius: 2px;
  padding: 0 20px;
  transition: all 0.25s ease;
  min-width: 140px;
  cursor: pointer;

  &--primary {
    background-color: #ff6b00;
    color: #fff;

    &:hover {
        background-color: #e46000;
        color: #fff;
    }
  }

  .button--primary.button--disabled:hover {
    background-color: #ff6b00;
    color: #fff;
  }

  &--secondary {
    background-color: #888;
    color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

    &:hover,
    &:focus {
        background-color: #373737;
        color: #fff;
    }
  }

  .button--secondary.button--disabled:hover {
    background-color: #888;
    color: #fff;
    opacity: 0.65;
  }

  &--olight {
    background-color: #fff;
    color: #ff6b00;
    border: 1px solid #ff6b00;

    &:hover,
    &:focus {
      border-color: #e46000;
      color: #e46000;
    }
  }

  &--blight {
    background-color: #fff;
    color: #373737;
    border: 1px solid #888;
    font-weight: 400;

    &:hover {
      border-color: #373737;
    }
  }

  &--disabled {
    &:hover {}
  }

}

.btn:disable {
  opacity: 0.65;
}