include ../page-list/_page-list
include ../_button
include ../_textarea
include ../_radio
include ../_checkbox
include ../_seclecbox
include ../_list-color
include ../_input
include ../_head
include ../_header
include ../_footer

doctype html
html(lang='en')
  head
    block head

  body
    block body

    block scripts
      script(src='js/main.js')
